#task1{
    font-family: 'Acme', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    margin: 0;
}

#task2{
    font-family: 'Acme', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    margin: 0;
}

#task3{
    font-family: 'Acme', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    margin: 0;
}
  
#inputText {
    font-family: 'Acme', sans-serif;
    height: 75px; 
    margin: 0;
    width: 300px; 
    padding: 10px;
    font-size: 24px;
}  

#reversedText {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0;
    font-weight: bold;
}